    </div>
    <footer class="py-2 d-flex justify-content-between">
        <div class="ml-2">
            <p class="text-dark">&copy; 2019 3PG</p>
        </div>
        <div class="mr-2">            
            <p class="text-muted uppercase">Powering <%= bot.getGuildCount() %> servers</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/js/main.js" type="text/javascript"></script>
</body>
</html>