<!DOCTYPE html>
<html lang=en>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="The highly customizable Discord bot">
    <meta name="keywords" content="highly customizable, Discord, Discord bot, 3PG">
    <title>3PG - Discord Bot</title>

    <script src="/lib/aos.min.js" type="text/javascript"></script>
    <script src="/lib/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/c70fcf5d2e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/aos.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/semantic-ui-button.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" type="text/css">
    
    <link rel="shortcut icon" href="/img/3pg.png">
</head>
<body>

<% include navbar %>

<div id="content">