@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");

/* theme */

.text-primary
{
    color: #482F5D;
}

.text-secondary, .btn-secondary
{
    color: #351F20;
}

.text-info, .btn-info
{
    color: #5044A0;
}

/* main */

html
{ 
    scroll-behavior: smooth; 
    overflow-x: auto;
}

body
{
    font-family: "Roboto", sans-serif;
    font-weight: lighter;    
	position: relative;
    min-height: 100vh;

    color: #351F20;
}

body, footer
{
    background: rgb(76,66,156);
    background: radial-gradient(circle, rgba(76,66,156,1) 0%, rgba(73,58,119,1) 100%);
}

form
{
    display: inline;
}

i
{
    font-size: 20px;
}

#logo
{
    height: 45vh;
    width: 45vh;
    margin-bottom: -12.5vh;
}

img#logo-small
{
    height: 64px;
    width: 64px;
}

header.jumbotron
{
    border-radius: 0;
    margin-bottom: 0;
}

.center-bg
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.uppercase
{
    text-transform: uppercase;
}

hr
{
    width: 60%;
}

footer
{
    position: static;
    background: transparent;

    width: 100%;
    margin-top: 30vh;
}

footer div p
{
    margin-bottom: 7.5px; 
}

a.disabled 
{
    pointer-events: none;
    cursor: default;
    color: #232329;
}

a
{
    text-decoration: none !important;
}

/* navbar and sidebar */

.navbar-nav ul
{
    display: inline-block;
}

#sidebar
{
    background-color: #45377C;
}

#sidebar > a
{
    color: white;
    position: relative;
}

#userButton
{
    border: none;
}

.dropdown-menu
{
    background-color: inherit;
}

.dropdown-menu a:hover
{
    background-color: #5044A0;    
}

/* Scrollbar - Not supported by Firefox or IE and Edge. */
::-webkit-scrollbar 
{
    width: 12.5px;
}

::-webkit-scrollbar-track 
{
    background: inherit
}

::-webkit-scrollbar-thumb 
{
    background: rgb(90,90,160); 
}

::-webkit-scrollbar-thumb:hover 
{
    background: rgb(100,100,175); 
}

/* home */

#features .row > div
{
    margin-bottom: 250px;
}

#features .row > div > h1
{
    padding-top: 100px;
}

/* servers */
#servers-header
{
    margin-top: 7.5vh;
}

.guild-icon div
{
    width: 66px;
    height: 66px;
    
    border-radius: 100%;
    border: 1px solid white;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    float: left;
}
.guild-icon img
{
    border-radius: 100%;
}

.guild-icon p
{
    padding-top: 7.5px;
    font-size: 32px;
}

/* home */
#epg-header
{
    background: transparent;
    margin-bottom: 15%;
}
#features img
{
    max-width: 100%;
}

#features .col-sm-6
{
    margin-bottom: 150px;
}

/* error */
#error > h1
{
    font-size: 5em;
}

.error-500 p#error-message
{
    text-align: left;
    white-space: pre;
    overflow: auto;
}

p#error-message
{
    text-align: center;
}

#error h1, #error div
{    
    text-align: center;
}

#error
{
    padding-top: 35vh;
}

/* all */
footer 
{	
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 2.5rem;
}
#content
{
	padding-bottom: 2.5rem;
}

.navbar-nav 
{
    flex-direction: row;
}
    
.nav-link 
{
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.ml-auto.dropdown-menu 
{
    left: auto !important;
    right: 0px;
}

/* users, leaderboard */
.dataTables_length
{
    float: left;
}

.paginate_button
{
    margin-right: 5px;
}

/* users */
.action.enabled
{
    cursor: pointer;
    color: white;
}

.user-avatar
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* dashboard */

#modules > a
{
    display: none;
}